### 1. String (5Question)

In [3]:
# 1 que

str= input("enter a string")
if str==str[::-1]:
    print("string is palindromer")
else:
    print("string is not palindrome")

enter a string 67

string is not palindrome

In [23]:
# 2 que

def count_vowels(word):
    """This Function count the vowel in the word."""
    word = word.lower()
    a = e = i = o = u = 0
    for ch in word:
        if ch == "a":
            a += 1
        elif ch == "e":
            e += 1
        elif ch == "i":
            i += 1
        elif ch == "o":
            o += 1
        elif ch == "u":
            u += 1
            
    return {"a": a, "e": e, "i": i, "o": o, "u": u}

In [6]:
count_vowels("Harshal")

{'a': 2, 'e': 0, 'i': 0, 'o': 0, 'u': 0}

In [7]:
count_vowels(" hi my name is Harshal")

{'a': 3, 'e': 1, 'i': 2, 'o': 0, 'u': 0}

In [8]:
s = "education"
vowels = "aeiou"
count = {v:s.count(v) for v in vowels}
for v in vowels:
    print(count)

{'a': 1, 'e': 1, 'i': 1, 'o': 1, 'u': 1}
{'a': 1, 'e': 1, 'i': 1, 'o': 1, 'u': 1}
{'a': 1, 'e': 1, 'i': 1, 'o': 1, 'u': 1}
{'a': 1, 'e': 1, 'i': 1, 'o': 1, 'u': 1}
{'a': 1, 'e': 1, 'i': 1, 'o': 1, 'u': 1}

In [11]:
#3 que

w = input("Sentence:").title()
print(w)

Sentence: today is my special day

Today Is My Special Day

In [12]:
# 4 que
s1 = "banana"
freq = {ch:s.count(ch) for ch in s1}
print(max(freq,key = freq.get))

a

In [22]:
# 5 que

w = input("Enter a string:")
digit = 0
alphabet = 0
special = 0

for ch in w:
    if ch.isalpha():
        alphabet += 1
    elif ch.isdigit():
        digit += 1
    else:
        special += 1   
print("alphabet",alphabet,"digit",digit,"special",special)

Enter a string: 78

alphabet 0 digit 2 special 0

## 2.List (5 Question)

In [5]:
# 6 (que)

list = [1,2,2,3,3,3,4,4,4,4,5,5,5,5,5]
new_list =[]

for i in list:
    if i not in new_list:
        new_list.append(i)
print(new_list)

[1, 2, 3, 4, 5]

In [30]:
# 7 que

list = [0,9,8,7,6,5,4,3,2,1]
list = list[::-1]
print(list)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 0]

In [31]:
# 8 que

numbers = [55,21,98,400,12456,34,1,20]
n = sorted(numbers)
second_smallest = n[1]
second_largest = n[-2]

print("2nd smallest:",second_smallest,"2nd largest:",second_largest)
print(n)

2nd smallest: 20 2nd largest: 400
[1, 20, 21, 34, 55, 98, 400, 12456]

In [33]:
# 9 que

l1 = [1,2,3,4,5,6,7,8,9,10]
[i**2 for i in l1]

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [34]:
# 10 que

nested = [[1,2],[3,4],[5,6]] # 1st way 
[x for sub in nested for x in sub]

[1, 2, 3, 4, 5, 6]

In [1]:
# 11 (que)

l1 = [[1,2],[3,4],[5,6]] # 2nd way
list = []
for i in l1:
    for j in i:
        list.append(j)
print(list)

[1, 2, 3, 4, 5, 6]

In [4]:
# 12 (que)

t = (1, 2, 3, 4, 5)

l1 = list(t)    # tuple → list 
l1.reverse()     # reverse the list
t1 = tuple(l1)  # list → tuple

print("Reversed tuple:",t1)

Reversed tuple: (5, 4, 3, 2, 1)

In [6]:
# 13 (que)

t1=(1,2,6,7)
t2=(4,5,3,8)
print(t1+t2)
t=(1,2,6,7,4,5,3,8)
print(sorted(t))

(1, 2, 6, 7, 4, 5, 3, 8)
[1, 2, 3, 4, 5, 6, 7, 8]

In [7]:
# 14 (que)

a1 = (3,6,5,9,5,3,6,7,6,5,2,7,8,9,4,5,7,2,1,4) # 1st way
element = int(input("Enter the element:"))
count = 0
for i in a1:
    if i == element:
        count += 1
print("element",element,"--","count",count)

Enter the element: 2

element 2 -- count 2

In [8]:
t = (3,6,5,9,5,3,6,7,6,5,2,7,8,9,4,5,7,2,1,4)  # 2nd way
element = int(input("Enter the element:"))
count = sum(1 for x in t if x == element)
print("Count", count)

Enter the element: 4

Count 2

In [2]:
# 15 (que)

n = (1,2,3,4,5,6,7,8,9,0)
even = []
odd = []
for i in n:
    if i % 2 == 0:
        even.append(i)
    else:
        odd.append(i)
even = tuple(even)
odd = tuple(odd)
print("even", even)
print("odd", odd)

even (2, 4, 6, 8, 0)
odd (1, 3, 5, 7, 9)

In [1]:
t = (1,2,3,4,5,6,7,8,9,0)
even = tuple (i for i in t if i % 2 == 0)
odd = tuple (i for i in t if i % 2 != 0)
print("Even",even)
print("Odd",odd)

Even (2, 4, 6, 8, 0)
Odd (1, 3, 5, 7, 9)

## 4. Set (5 Question)

In [11]:
# 16 (que)

# Union
A = {1,2,3}
B = {4,5,6}
set = A|B
print("Union:", set)

Union: {1, 2, 3, 4, 5, 6}

In [12]:
#Intersection
A = {1,2,3,4}
B = {3,4,5,6}
intersection_set = A & B
print("Intersection:",intersection_set)

Intersection: {3, 4}

In [16]:
# 17(que)

s={1,2,3,4}
s.remove(1)
print(s)

{2, 3, 4}

In [3]:
# 18 (que)

l1 = [2,2,4,4,5,5,6,6,6,7,7,7]
s1 = set(l1)
print (s1)

{2, 4, 5, 6, 7}

In [20]:
# 19 (que)

s1={1,2,3}
s2={4,5,6}
s1.isdisjoint(s2)

True

In [21]:
# 20 (que)

q = {10,129,1238,12347,123456}
sum(q)

137180

## 5. Dictionary (5 Question)

In [22]:
# 21 (que)

my_dict = {"c": 3, "a": 1, "b": 2}             # 1st way

print("Original Dictionary:", my_dict)
print("Keys in ascending order:", sorted(my_dict.keys()))

Original Dictionary: {'c': 3, 'a': 1, 'b': 2}
Keys in ascending order: ['a', 'b', 'c']

In [23]:
# 22 (que)

d = {"a": 10, "b": 20, "c": 30} 
d_total = sum(d.values())
print(d_total)

60

In [24]:
# 23 (que)

d1 = {"a": 1, "b": 2}
d2 = {"c": 3, "d": 4}

d1.update(d2)
print(d1)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [25]:
d1 = {"a": 1, "b": 2}
d2 = {"c": 3, "d": 4}

d2.update(d1)
print(d2)

{'c': 3, 'd': 4, 'a': 1, 'b': 2}

In [26]:
d1 = {"a": 1, "b": 2}
d2 = {"c": 3, "d": 4}
merged = {**d1,**d2}
print(merged)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [27]:
# 24 (que)


d = {"a": 50, "b": 150, "c": 100}
max_key = max(d, key=d.get)
print(max_key)

b

In [4]:
# 25 (que)

s = "chocolate"
freq = {ch: s.count(ch) for ch in set(s)}
print (freq)

{'t': 1, 'a': 1, 'l': 1, 'o': 2, 'c': 2, 'h': 1, 'e': 1}

## 6. Conditional Statement (5 Question)

In [29]:
# 26  (que)

def Eligibility():
    age = int(input("Enter your age: "))
    if age >= 18:
        print("You are eligible to vote.")
    else:
        print("You are not eligible to vote.")

In [30]:
Eligibility()

Enter your age:  18

You are eligible to vote.

In [34]:
# 27 (que)

a = int(input("Enter first number: "))
b = int(input("Enter second number: "))
c = int(input("Enter third number: "))

if a >= b:
    if a >= c:
        print("Largest number is:", a)
    else:
        print("Largest number is:", c)
else:
    if b >= c:
        print("Largest number is:", b)
    else:
        print("Largest number is:", c)

Enter first number:  50
Enter second number:  60
Enter third number:  70

Largest number is: 70

In [35]:
a,b,c = 10,20,30
if a > b and a > c:
    print("Largest number is:",a)
elif b > a and b > c:
    print("Largest number is:",b)
else:
    print("Largest number is:",c)

Largest number is: 30

In [36]:
a,b,c = 10,20,30
print("Largest number is:",max(a,b,c))

Largest number is: 30

In [39]:
# 28 (que)

n = int(input("enter a number "))
if n <= 1:
    print("Not a prime number")
elif n==2  or n==3:
    print("It is a prime number")
else:
    for i in range(2,n):  # its check that if n is divisible by any number between 2 and n-1 if yes then its not a prime number,
        if n % i == 0 :
            print("Not a prime number")
            break
    else:
        print("It is a prime number")

enter a number  7

It is a prime number

In [40]:
# 29 ( que)

def assign_grade():
    marks = int(input("Enter your marks: "))
    if marks >= 90:
        print("Grade: A")
    elif marks >= 75:
        print("Grade: B")
    elif marks >= 50:
        print("Grade: C")
    else:
        print("Grade: Fail")

In [41]:
assign_grade()

Enter your marks:  75

Grade: B

In [42]:
# 30 ( que)

def check_number():
    num = int(input("Enter a number: "))
    if num > 0:
        print("The number is Positive.")
    elif num < 0:
        print("The number is Negative.")
    else:
        print("The number is Zero.")

In [44]:
check_number()

Enter a number:  -2

The number is Negative.

## 7. Loop- For & While (5 question)

In [45]:
# 31 ( que)

a,b = 0,1
for _ in range(10):
    print(a,end= " ")
    a, b = b, a+b

0 1 1 2 3 5 8 13 21 34

In [46]:
# 32 (que)

n= 5
fact = 1
while n > 0:
    fact *= n
    n -= 1
print("\nFactorial:",fact)

Factorial: 120

In [47]:
# 33 (que)

n = 1234
s = 0
while n > 0:
    s += n % 10
    n //= 10
print("sum of didgit:",s)

sum of didgit: 10

In [48]:
# 34 (que)

z1 = [5,10,15,20,25,30,35,40,45,50]
my_list = z1[::-1]
print(my_list)

[50, 45, 40, 35, 30, 25, 20, 15, 10, 5]

In [50]:
# 35 (que)

num = int(input("Enter the num:"))
for i in range(num):
    for j in range(i + 1):
        print("*",end = " ")
    print()

Enter the num: 7

*
* *
* * *
* * * *
* * * * *
* * * * * *
* * * * * * *

## 8. File Handling (5 question)

In [51]:
# 36 (que)

f = open("123.txt", "w")
f.write("Hello its my fisrt time studying python. It's very important language for coding. We need to practice hard to understand it.")
f.close()

In [52]:
f = open("123.txt", "r")

In [53]:
f.read()

"Hello its my fisrt time studying python. It's very important language for coding. We need to practice hard to understand it."

In [54]:
# 37 ( que)

file = open("123.txt", "r")
line = file.readline()
print("Lines:", len(file.readline()))

Lines: 0

In [55]:
# 38 ( que)

f = open("123.txt", "r")
text = f.read().lower()
f.close()

vowels = 0
consonants = 0

for ch in text:
    if ch.isalpha():
        if ch in "aeiou":
            vowels += 1
        else:
            consonants += 1

print("Vowels:", vowels)
print("Consonants:", consonants)

Vowels: 34
Consonants: 66

In [56]:
with open("123.txt") as f:
    text = f.read().lower()
vowels = sum(ch in "aeiou" for ch in text)
consonants = sum(ch. isalpha() and ch not in "aeiou" for ch in text)
print("Vowels:",vowels, "Consonants:",consonants)

Vowels: 34 Consonants: 66

In [57]:
# 39 (que)

with open("123.txt") as f:
    data = f.read().upper()
with open("upper.txt", "w") as f:
    f.write(data)
    f.close()

In [58]:
f = open("upper.txt", "r") 
f.read()

"HELLO ITS MY FISRT TIME STUDYING PYTHON. IT'S VERY IMPORTANT LANGUAGE FOR CODING. WE NEED TO PRACTICE HARD TO UNDERSTAND IT."

In [59]:
# 40 ( que)

import csv
with open("123.txt", newline="") as f:
    reader = csv.reader(f)
    for row in reader:
        print(row)

["Hello its my fisrt time studying python. It's very important language for coding. We need to practice hard to understand it."]

## 9. Os Module (5 Question)

In [11]:
import os

In [19]:
# 41 (que)

print (os.getcwd())

C:\Users\HARSHAL MORASKAR\paython harshal

In [29]:
# 42 

os.mkdir ("XYZ")
f = open("XYZ/newfile.txt","w")
f.write("my file is inside XYZ")
f.close()
print("Succesfully create the folder and file")

Succesfully create the folder and file

In [21]:
# 43 ( que)

os.listdir()

['.ipynb_checkpoints',
 '123.txt',
 'ABCD',
 'assignment1.ipynb',
 'Assignment9.ipynb',
 'example.txt',
 'Harshal Assignement',
 'hp.ipynb',
 'Untitled.ipynb',
 'Untitled1.ipynb',
 'Untitled10.ipynb',
 'Untitled2.ipynb',
 'Untitled3.ipynb',
 'Untitled4.ipynb',
 'Untitled5.ipynb',
 'Untitled6.ipynb',
 'Untitled7.ipynb',
 'Untitled8.ipynb',
 'Untitled9.ipynb',
 'upper.txt']

In [22]:
# 44 (que)

filename = "123.txt"
size = os.path.getsize(filename)
print(f"File size of {filename} is: {size} bytes")

File size of 123.txt is: 124 bytes

In [23]:
# 45 ( que)

files = os.listdir()
count = 0

for f in files:
    if f.endswith(".txt"):
        count += 1
result = {".txt files:", count}

print(result)

{3, '.txt files:'}

## 10. Try-Exception (5 Question)

In [64]:
# 46 ( que)


try:
    num = int(input("Enter a number: "))
    print("Square is:", num**2)
except ValueError:    # other then numbers (positive/Negative) it will consider invalid input
    print("Invalid input! Please enter a number.")

Enter a number:  2

Square is: 4

In [24]:
# 47 (que)

try:
    a = int(input("Enter numerator: "))
    b = int(input("Enter denominator: "))
    result = a / b
    print("Result:", result)
except ZeroDivisionError:
    print("Error! Cannot divide by zero.")

Enter numerator:  0
Enter denominator:  1

Result: 0.0

In [67]:
# 48 (que)

try:
    f = open("sample.txt", "r")   
    print(f.read())
    f.close()
except FileNotFoundError:
    print("File not found!")

File not found!

In [68]:
# 49 (que)

try:
    num = int(input("Enter a number: "))   
    result = num + "5"                     # this code will show the error 
    print(result)
except ValueError:
    print("ValueError: Please enter numbers only!")
except TypeError:
    print("TypeError: Cannot add number and string together!")

Enter a number:  67

TypeError: Cannot add number and string together!

In [69]:
# 50 (que)


try:
    file = open("example.txt", "w")
    file.write("Hello, Python!")
    print("File written successfully.")

except Exception as e:
    print("An error occurred:", e)

finally:
    file.close()
    print("File closed successfully.")

File written successfully.
File closed successfully.

### END