## 1. User-Defined Function (5 Questions)

#### 1. Write a function to calculate the factorial of a number (without recursion).

In [1]:

def factorial(n):
    fact =1
    for i in range(1,n+1):
        fact*=i
    print(fact)

In [2]:
factorial(5)

120

#### 2. Write a function to check if a number is Armstrong or not.

In [4]:

def armstrong(num):
    digit = str(num)
    power = len(digit)
    total = sum(int(i)**power for i in digit)
    return num==total
    
n = int(input("Enter a number: "))
if armstrong(n):
    print(f"{n} is an Armstrong number.")
else:
    print(f"{n} is NOT an Armstrong number.")

Enter a number:  33

33 is NOT an Armstrong number.

#### 3. Write a function that takes a list of numbers and returns only even numbers.

In [5]:
def even_list():
    even = list(map(int,input("Enter a number with haveing space after each number : ").split()))
    for i in even:
        if i%2==0:
            print(i)

In [6]:
even_list()

Enter a number with haveing space after each number :  34

34

#### 4. Write a function that takes a string and returns the reverse of the string.

In [7]:
def reverse(var):
    for i in var:
        reverse=var[::-1]
    return reverse

In [8]:
reverse("this is my first thing program")

'margorp gniht tsrif ym si siht'

#### 5. Write a recursive function to calculate Fibonacci series up to n terms.

In [9]:
def fibonacci(n):
    a= 0
    b =1
    for i in range(n):
        print(b, end = " ")
        a,b =b,a+b

In [10]:
fibonacci(10)

1 1 2 3 5 8 13 21 34 55

## 2. Lambda Function (5 Questions)

#### 6. Write a lambda function to find the maximum of two numbers.

In [11]:
Max = lambda a, b : a if(a > b) else b

In [12]:
Max(80,60)

80

#### 7. Write a lambda function to count vowels in a given string.

In [13]:
vowls = "aeiou"


k =lambda x :sum(1 for i in x if i in vowls)
print(k("programming"))

3

#### 8. Use a lambda with map() to convert a list of integers into their cubes.

In [14]:
int=[1,2,3,4,5]
result=map(lambda x:x**x, int)
print(list(result))

[1, 4, 27, 256, 3125]

#### 9. Use a lambda with filter() to find numbers divisible by 5 from a list.

In [15]:
numbers=[10,16,20,26,35,43,50]
div_5= list(filter(lambda x:x%5==0,numbers))
print(div_5)

[10, 20, 35, 50]

#### 10. Use reduce() with lambda to find the product of all numbers in a list.

In [16]:
from functools import reduce
numbers = [2, 3, 4, 5]
product = reduce(lambda x, y: x * y, numbers)
print(f"Numbers: {numbers}")
print(f"Product: {product}")

Numbers: [2, 3, 4, 5]
Product: 120

## 3. List Comprehension (5 Questions)

#### 11. Create a list of squares of numbers from 1 to 20 using list comprehension.

In [17]:
l=[1,20]
l1=[i**2 for i in range(20)]
print(l1)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361]

#### 12. Extract all words starting with vowel from a list of words.

In [19]:

stri = input("Enter your string : ").lower()
count = []
vowels = "aeiou"

k = [ count.append(i) for i in stri if i in vowels]
print(count)

Enter your string :  23

[]

#### 13. Generate a list of tuples (x, x^2) for numbers from 1 to 10.

In [20]:
l1=[1,11]
list=[(x, x**2) for x in range(1,11)]
print(list)

[(1, 1), (2, 4), (3, 9), (4, 16), (5, 25), (6, 36), (7, 49), (8, 64), (9, 81), (10, 100)]

#### 14. Flatten a 2D list using list comprehension.

In [21]:
nested = [[1, 2], [3, 4], [5]]

k = [ j for i in nested for j in i]
print(k)

[1, 2, 3, 4, 5]

#### 15. Create a list of prime numbers between 1 and 50 using list comprehension.

In [1]:
le=range(1,51)
prime = list (filter(lambda n : n%2==1,le))
print(prime)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49]

## 4. Class (5 Questions)

#### 16. Create a class Student with attributes name and marks, and a method to display details.

In [34]:

class Student:
    def __init__(self,name,marks):
        self.name = name
        self.marks = marks

In [35]:
obj = Student("Harshal",90)

In [36]:
obj.marks
obj.name

'Harshal'

#### 17. Create a class BankAccount with deposit and withdraw methods.

In [38]:
class Atm:
    def __init__(self,name,balance):
        self.balance=balance
        self.name=name

    def deposit(self,amount):
        if amount>0:
            self.balance+=amount
            return f"Deposited balance {amount} . New balance {self.balance}"
        return "Invalid deposit amount"

    def withdrawal(self,amount):
        if 0<amount <=balance:
            self.balance-=amount
            return f"Withdrawal balance {amount} . New balance {self.balance}"
        return "Invalid"
            
            
    def get_balance(self):
         return self.balance

In [39]:
obj = Atm("rohit",10000)

In [40]:
obj.deposit(7000)

'Deposited balance 7000 . New balance 17000'

#### 18. Create a class Circle with a method to calculate area and circumference.

In [3]:
class circle:
    def __init__ (self,radius):
        self.__radius=radius

    def area(self):
        import math as mt
        area=mt.pi*self.__radius**2
        print("area of circle is :-",area)
        
    def circumference(self):
        import math as mt
        circumference=2*mt.pi*self.__radius
        print("area of circle is :-",circumference)

In [4]:
circle_obj=circle(7)

In [6]:
circle_obj.area()
circle_obj.circumference()

area of circle is :- 153.93804002589985
area of circle is :- 43.982297150257104

#### 19. Create a class Employee that increases salary by 10%.

In [7]:
obj.cricumference()

31.400000000000002

In [9]:
onj = Employee(90000)

In [10]:
onj.increase_salary()

99000.00000000001

#### 20. Create a class Car with methods to start, stop, and display status.

In [7]:
class car:
    def __init__(self):
        pass
    def start(self):
        print("start method")
        pass
    def stop(self):
        print("stop method")
        pass
    def display(self):
        pass

In [8]:
obj_car=car()

In [10]:
obj_car.stop()
obj_car.display()

stop method

## 5. Inheritance (5 Questions)

#### 21. Create a base class Animal and a derived class Dog that overrides a method.

In [11]:
class animal:
    def make_sound(self):
        pass

class Dog(animal):
    def make_sound(self):
        return "Woof!"

In [12]:
animal_obj=Dog()

In [13]:
animal_obj.make_sound()

'Woof!'

#### 22. Create a base class Shape with method area(). Inherit Rectangle and Circle classes to implement and calculation.

In [15]:
class shape:             #parent class
    def area(self):
        pass
class rectangle(shape):  
    def area(self,length,width):
        self.length=length
        self.width=width
        return self.length*self.width
        print("area of rectangle is :-",area)
        
class circle(shape):
    def area(self,radius):
        self.radius=radius
        import math as mt
        return mt.pi*self.radius**2
        print("area of circle is :-",area)

In [16]:
obj_shape=shape()

In [17]:
obj2=circle()
obj3=rectangle()

In [18]:
obj3.area(10,7)

70

In [19]:
obj2.area(5)

78.53981633974483

#### 23. Create a Person class and inherit Student and Teacher from it with additional attributes.

In [21]:
class Person:
    def __init__(self, name, age):
        self.name = name
        self.age = age
        
class Student(Person):
    def __init__(self, name, age, student_id):
        self.name = name
        self.age = age
        self.student_id = student_id
        
class Teacher(Person):
    def __init__(self, name, age, subject):
        self.name = name
        self.age = age
        self.subject = subject

s1 = Student("Harshal", 20, "123")
t1 = Teacher("Mr.Prashant", 30, "Math")

print("Student:")
print("Name:", s1.name)
print("Age:", s1.age)
print("Student ID:", s1.student_id)

print("\nTeacher:")
print("Name:", t1.name)
print("Age:", t1.age)
print("Subject:", t1.subject)

Student:
Name: Harshal
Age: 20
Student ID: 123

Teacher:
Name: Mr.Prashant
Age: 30
Subject: Math

#### 24. Create a Vehicle class and inherit Car and Bike with their specific features.

In [22]:
class Vehicle:
    def __init__(self, brand, model):
        self.brand = brand
        self.model = model

class Car(Vehicle):
    def __init__(self, brand, model):
        self.brand = brand
        self.model = model
        
class Bike(Vehicle):
    def __init__(self, brand, model, bike_type):
        self.brand = brand
        self.model = model
        self.bike_type = bike_type

car1 = Car("Toyota", "Corolla", )
bike1 = Bike("Yamaha", "R15", "Sports")

print("Car:")
print("Brand:", car1.brand)
print("Model:", car1.model)

print("\nBike:")
print("Brand:", bike1.brand)
print("Model:", bike1.model)
print("Type:", bike1.bike_type)

Car:
Brand: Toyota
Model: Corolla

Bike:
Brand: Yamaha
Model: R15
Type: Sports

#### 25. Demonstrate multiple inheritance with a StudentAthlete class (inheriting from Student and Athlete).

In [23]:
class Student:
    def __init__(self, name, student_id):
        self.name = name
        self.student_id = student_id

class Athlete:
    def __init__(self, sport, team):
        self.sport = sport
        self.team = team

class StudentAthlete(Student, Athlete):
    def __init__(self, name, student_id, sport, team):
        self.name = name
        self.student_id = student_id
        self.sport = sport
        self.team = team

# Example usage
sa = StudentAthlete("Alice", "123", "Basketball", "Wildcats")

print("Student-Athlete Info:")
print("Name:", sa.name)
print("Student ID:", sa.student_id)
print("Sport:", sa.sport)
print("Team:", sa.team)

Student-Athlete Info:
Name: Alice
Student ID: 123
Sport: Basketball
Team: Wildcats

## 6. Polymorphism (5 Questions)

#### 26. Create two classes Cat and Dog with the same method speak(). Demonstrate polymorphism.

In [26]:
class Animal:
    def make_sound(self):
        pass  

class Dog(Animal):
    def make_sound(self):
        return "Woof!"

class Cat(Animal):
    def make_sound(self):
        return "Meow!"

In [27]:
o1= Dog()
o2 = Cat()

In [28]:
Animal=[o1,o2]

In [29]:
for Animal in Animal:
    print(Animal.make_sound())

Woof!
Meow!

#### 27. Demonstrate operator overloading by implementing addition of two Vector objects.

In [30]:
class Vector:
    def __init__(self,x,y):
        self.x=x
        self.y=y
    def _add_(self,other):
        return Vector(self.x + other.x, self.y + other.y)  
class Vector:
    def __init__(self, x, y):
        self.x = x
        self.y = y

    def __add__(self, other):
        return Vector(self.x + other.x, self.y + other.y)

    def __str__(self):
        return f"({self.x}, {self.y})"


v1 = Vector(2, 3)
v2 = Vector(4, 5)

v3 = v1 + v2  

print("Vector 1:", v1)
print("Vector 2:", v2)
print("Added Vector:", v3)

Vector 1: (2, 3)
Vector 2: (4, 5)
Added Vector: (6, 8)

#### 28. Demonstrate method overloading using default parameters.

In [22]:
    
    class calculator:
        def add(self, a=0, b=0, c=0):
            return a + b + c

In [23]:
calc = calculator()

In [24]:
print(calc.add())
print(calc.add(5))
print(calc.add(5,10))
print(calc.add(5, 10, 15))

0
5
15
30

#### 29. Create a base class Shape with draw() method and override it in derived classes.

In [12]:

class Shape:
    def draw(self):
        return "Shape is drawing"

class Circle(Shape):
    def draw(self):
        return "Circle is drawing"

class Rectangle(Shape):
    def draw(self):
        return "Rectangle is drawing"


shapes = [Rectangle(), Circle()]

for s in shapes:
    print(s.draw())

Rectangle is drawing
Circle is drawing

#### 30. Demonstrate duck typing with classes having the same method name.

In [13]:

class first_class:
    def student(self):
        print("This is first student")
class second_class:
    def student(self):
        print("This is second student")

def merge(a,b):
    a.student()
    b.student()

obj1 = first_class()
obj2 = second_class()

merge(obj1,obj2)

This is first student
This is second student

## 7. Encapsulation (5 Questions)

#### 31. Create a class Account with private balance attribute and provide methods to deposit and withdraw

In [14]:
class Account:
    def __init__(self, balance):
        self.__balance = balance   # private attribute

    def deposit(self, amount):
        if amount > 0:
            self.__balance += amount
            return f"Deposited {amount}. New balance: {self.__balance}"
        return "Invalid deposit amount"

    def withdraw(self, amount):
        if 0 < amount <= self.__balance:
            self.__balance -= amount
            return f"Withdrew {amount}. New balance: {self.__balance}"
        return "Invalid withdrawal amount"

    def get_balance(self):
        return self.__balance

In [15]:
# Example usage
acc = Account(1000)
print(acc.deposit(5000))   # Deposited 500. New balance: 1500
print(acc.withdraw(200))  # Withdrew 200. New balance: 1300
print(acc.get_balance())  # 1300

Deposited 5000. New balance: 6000
Withdrew 200. New balance: 5800
5800

#### 32. Create a class with private attributes and use getter and setter methods to access them.

In [5]:
class Person:
    def __init__(self, name, age):
        self.name = name
        self.__age = age  # private attribute

    def get_age(self):
        return self.__age

    def set_age(self, new_age):
        if new_age >= 0:
            self.__age = new_age
        else:
            print("Age cannot be negative")

In [7]:
gs=Person("harshal",20)

In [9]:
gs.set_age(21)

In [10]:
gs.get_age()

21

#### 33. Demonstrate name mangling with private variables

In [16]:
class PrivateName:
    def __init__(self,name):
        self.__name=name
        
obj = PrivateName("Harshal")
print(obj._PrivateName__name)

Harshal

#### 34. Create a class Bank with encapsulated methods to show account details securely.

In [17]:


class Bank:
    def __init__(self,account_number, name, balance, pin):
        self.__account_number = account_number
        self.__name = name 
        self.__balance = balance
        self.__pin=pin


    def deposite(self,amount):
        if amount>0:
            self.__balance+=amount
            return f"Deposited {amount}. New balance: {self.__balance}"
        return "Invalid deposit amount"


    def Withdrawal(self,amount,pin):
        if pin!=self.__pin:
            return "Incoorect Pin"
        if 0 < amount <= self.__balance:
            self.__balance -= amount
            return f"Withdrew {amount}. New balance: {self.__balance}"
        return "Invalid withdrawal amount"



    def show_detail(self,pin):
        if pin==self.__pin:
            return f"Account Number: {self.__account_number}  Name: {self.__name}    Balance: {self.__balance}"
        else:
            return "Access denied! Incorrect PIN."

In [18]:
my_account = Bank(1268895647 , "Pritesh ingle" , 60000,1234)

In [19]:
my_account.deposite(700)

'Deposited 700. New balance: 60700'

In [20]:
my_account.Withdrawal(60000,1234)

'Withdrew 60000. New balance: 700'

In [21]:
my_account.show_detail(1234)

'Account Number: 1268895647  Name: Pritesh ingle    Balance: 700'

#### 35. Demonstrate encapsulation by restricting access to class attributes.

In [22]:
class Employee:
    def __init__(self, salary):
        self.__salary = salary 


    def get_salary(self):
        return self.__salary

    
    def set_salary(self, salary):
        if salary > 0:
            self.__salary = salary
        else:
            print("Invalid salary!")


emp = Employee(50000)
emp.get_salary()   

emp.set_salary(60000)
emp.get_salary() 

emp.set_salary(-1000)

Invalid salary!

## 8. Datetime Module (5 Questions)

#### 36. Write a program to display the current date and time.

In [24]:
from datetime import datetime

k = datetime.now()
print(k)

2025-09-16 15:52:58.848030

#### 37. Write a program to calculate a person’s age from their date of birth.

In [25]:
def calcu_age(dob):
    dob = datetime.strptime(dob,"%d-%m-%Y").date()
    today = datetime.today()
    age = today.year-dob.year
    return age

dob_input = input("Enter DOB (DD-MM-YYYY): ")
print("Your age is:", calcu_age(dob_input))

Enter DOB (DD-MM-YYYY):  08-01-2004

Your age is: 21

In [27]:
calcu_age("08-01-2004")

21

#### 38. Write a program to find the difference in days between two given dates.

In [28]:

def differnece_date(date1,date2):
    date1 = datetime.strptime(date1,"%d-%m-%Y")
    date2 = datetime.strptime(date2,"%d-%m-%Y")
    diff = abs((date1-date2).days)
    return diff

date1 = input("Enter first date (DD-MM-YYYY): ")
date2 = input("Enter second date (DD-MM-YYYY): ")

print("Difference in days:", differnece_date(date1, date2))

Enter first date (DD-MM-YYYY):  08-01-2005
Enter second date (DD-MM-YYYY):  16-09-2025

Difference in days: 7556

#### 39. Write a program to print the date 30 days from today.

In [29]:
from datetime import datetime, timedelta


today = datetime.today()
time= timedelta(days=30)
next_30days = today+time
k = next_30days.strftime("%d-%m-%Y")
print(k)

16-10-2025

#### 40. Write a program to format today’s date as “DD/MM/YYYY” and “YYYY-MM-DD”.

In [30]:

from datetime import date

date = today.now()

format1 =date.strftime("%d-%m-%Y")
format2=date.strftime("%Y-%m-%d")

print(f"This is first format - > {format1} \nThis is second format - > {format2} " )

This is first format - > 16-09-2025
This is second format - > 2025-09-16

## 9. Math Module (5 Questions)

#### 41. Write a program to calculate factorial using math.factorial().

In [31]:
import math as mt


mt.factorial(5)

120

#### 42. Write a program to find the greatest common divisor (GCD) of two numbers.

In [12]:

num1= int(input("Enter your Number 1 : "))
num2= int(input("Enter your Number 2 : "))

gcd = mt.gcd(num1,num2)

print(f"In two number is the GCD - > {gcd}")

Enter your Number 1 :  123
Enter your Number 2 :  34

In two number is the GCD - > 1

#### 43. Write a program to calculate square root, power, and logarithm using math module.

In [11]:
num = int(input("Enter your number : ")) 

sq = mt.sqrt(num)
po = mt.pow(num,2)
log = mt.log(num)


print(f"Your Square of number is - {sq}\n Your Power of number - {po}\n Your Logarithm of number is - {log} ")

Enter your number :  32

Your Square of number is - 5.656854249492381
 Your Power of number - 1024.0
 Your Logarithm of number is - 3.4657359027997265

#### 44. Write a program to generate random numbers between 1 and 100 (using math and random).

In [5]:

import random
import math as mt

k = random.randrange(1, 101)
print(f"Your Random Number is =  {k}")

Your Random Number is =  70

#### 45. Write a program to convert radians to degrees and vice versa.

In [11]:
import numpy as np
numbers=range(1,101)
random_number=np.random.randint(numbers)
print(random_number)

[ 0  1  2  2  2  1  1  2  8  2  1  1  1 10  5  4  0  8  8 17 17  9 12 12
 14 16 20 14  9  7 29 16 26 26 18 22 23 35  6 24  5 14  7 17 21 30 14 39
 38 49 38 31 48 30 12 25  0 20 14 12 12 21 12 33 30 64  3 23 10 37 54  8
 38 72 46 67 50 36 56 38 71  4 21 48 30 21 38 76 39 66 75 37 91 68 50 63
 47 72  0 23]

## 10. Regular Expression Module (5 Questions)

#### 46. Write a regex to check if a string is a valid email address.

In [7]:
string ="pritesh@example.com"

import re

email = r'[a-z]\S+@\S+\.\S+'

print(bool(re.match(email,string)))

True

#### 47. Write a regex to extract all numbers from a string.

In [8]:
text = "I have 2 apples, 15 oranges, and 100 bananas."

pattern = r"\d+"

nu=re.findall(pattern,text)
print(nu)

['2', '15', '100']

#### 48. Write a regex to validate if a string is a valid Indian mobile number (10 digits).

In [9]:
numbers = ["9876543210", "1234567890", "9123456789"]
pattern = r"^[6-9]\d{9}$"

for num in numbers:
    match = re.match(pattern, num)
    print(f"{num} -> {bool(match)}")

9876543210 -> True
1234567890 -> False
9123456789 -> True

#### 49. Write a regex to find all words starting with a capital letter in a sentence.

In [10]:
str1 ="Hello This is a example Sring"

fi = re.findall(r' \b[A-Z][a-zA-Z]*\b',str1)
print(fi)

[' This', ' Sring']

#### 50. Write a regex to replace all spaces in a string with a hyphen.

In [25]:
import re

In [26]:

text = "this is my new program"
cleaned =re.sub(r'\s', '-', text)
print(cleaned)

this-is-my-new-program

## END